@media {
	.navbar > .container {
	    text-align: center;
	}
	.navbar-header {
	    float: none;
	    display: inline-block;
		
	}
	.navbar-brand {
	    float: none;
	    display: inline-block;
		font-size:25px;

		font-weight: bold !important;
		color: white !important;
	}
	.navbar .navbar-nav {
	    float: none;
	    display: inline-block;
	    clear: none;
		width: 1400px;
		height: 70px !important;
	}
	.navbar .navbar-nav > li {
	    float: top;
	    display: inline-block;
		width: 270px;
		margin-top: 10px;
		padding: 0px !important;

	}
	.navbar .navbar-nav > li li {
	    text-align: left;
		width: 200px;

	}
	.collapse.navbar-collapse#centerednav {
	    float: none;
	    display: inline-block!important;
	    width: auto;
	    clear: none;
	}
	.navbar-collapse.collapse {
		float: none;
		display: inline-block!important;
		
	}

	.navbar-inverse .navbar-nav>.active>a:active {
    		color: black;
    }

	.navbar-inverse .navbar-nav>.active>a,  .navbar-inverse .navbar-nav>.active>a:hover {
		color: white !important;
		background-color: transparent !important;
	}

	.navbar-inverse .navbar-nav>li>a {
        color: white;
    }

	#header {
		background-color:black;
		text-align:center;
		font-size:20px;
		font-weight: bold !important;

		
	}

	a:-webkit-any-link {
		text-decoration: none !important;
	}

	.whiteMenuLink {
		color: white;
	}

	li.active a {
		font-size: 35px !important;
		color: white;
	}


	#content-body {
		margin-left: 20%;
		margin-right: 20%;
		padding-top: 120px;
		height: 100%;
		width: 60%;
		margin-bottom: 50px;

		
	}

	.container {
        width: 1300px;
    }

	.footer {
		background-color:black;
		color:white;
		padding:5px;
		text-align: right;

		
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.footer-text {
		width: 80%;
	}
	body {
		position: relative;
		margin: 0;
		padding-bottom: 6rem;
		min-height: 100%;
		font-family: "Helvetica Neue", Arial, sans-serif;
	}
	html {
		height: 100%;
		box-sizing: border-box;
	}
	.back_ground_img {
		background-image: url(/resources/img/grass-soccer-background.jpg);
		background-position:  left top;
		background-repeat: no-repeat;
		padding: 15px;
		max-width: 100%;
	}

	table.tablesorter thead tr .header {
		background-image: url(/resources/img/bg.gif);
		background-repeat: no-repeat;
		background-position: center right;
		cursor: pointer;
	}
	table.tablesorter thead tr .headerSortUp {
		background-image: url(/resources/img/asc.gif);
	}
	table.tablesorter thead tr .headerSortDown {
		background-image: url(/resources/img/desc.gif);
	}
}


